HomeTask in detail:

1. Create a new database with a table named Roster that has three fields: Name, Species, and Age. The Name and Species columns should be text fields, and the Age column should be an integer field.

2. Populate your new table with the following values:
   - Benjamin Sisko | Human | 40
   - Jadzia Dax | Trill | 30
   - Kira Nerys | Bajoran | 29

3. Update the Name of Jadzia Dax to be Ezri Dax.

4. Display the Name and Age of everyone in the table classified as Bajoran.

In [ ]:
import pyodbc

server = r'DESKTOP-BE28DQJ\SQLEXPRESS'  
database = 'master'    

connection_string = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

connection = pyodbc.connect(connection_string)
cursor = connection.cursor()

cursor.execute("create database first_py_database")
connection.commit()

connection.close()

connection_string = f'DRIVER={{SQL Server}};SERVER={server};DATABASE=first_py_database;Trusted_Connection=yes;'
connection = pyodbc.connect(connection_string)
cursor = connection.cursor()

cursor.execute('''create table Roster(
    Name nvarchar(100),
    Species nvarchar(100),
    Age int)
''')
connection.commit()

cursor.execute("insert into Roster (Name, Species, Age) values ('Benjamin Sisko', 'Human', 40)")
cursor.execute("insert into Roster (Name, Species, Age) values ('Jadzia Dax', 'Trill', 30)")
cursor.execute("insert into Roster (Name, Species, Age) values ('Kira Nerys', 'Bajoran', 29)")

connection.commit()
connection.close()

In [3]:

server = r'DESKTOP-BE28DQJ\SQLEXPRESS'
database = 'first_py_database' 

connection_string = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

connection = pyodbc.connect(connection_string)
cursor = connection.cursor()

cursor.execute("SELECT * FROM Roster")

rows = cursor.fetchall()

print("Name\t\tSpecies\t\tAge")
print("--------------------------------")

for row in rows:
    print(f"{row.Name}\t{row.Species}\t{row.Age}")

connection.commit()

Name		Species		Age
--------------------------------
Benjamin Sisko	Human	40
Jadzia Dax	Ezri Dax	30
Kira Nerys	Bajoran	29

In [4]:
cursor.execute("update Roster set Species = 'Ezri Dax' where Name = 'Jadzia Dax'")
connection.commit()

cursor.execute("select * from Roster")
rows = cursor.fetchall()

print("Name\t\tSpecies\t\tAge")
print("------------------------------------")
for row in rows:
    print(f"{row.Name}\t{row.Species}\t{row.Age}")

connection.commit()

Name		Species		Age
------------------------------------
Benjamin Sisko	Human	40
Jadzia Dax	Ezri Dax	30
Kira Nerys	Bajoran	29

In [5]:

cursor.execute("select Name, Age from Roster where Species = 'Bajoran'")

rows = cursor.fetchall()

print("Name\t\tAge")
print("-------------------")

for row in rows:
    print(f"{row.Name}\t{row.Age}")

connection.commit()
connection.close()

Name		Age
-------------------
Kira Nerys	29