Test 1

Answers
Q1. A sequence of character which are enclosed in single (' ') or double(" ") quotes is known as String.
Q2. There is no difference between 'a' and "a" in python.
Q3. But there is difference between 1 and '1' in python.
Q4. Python treats single quotes same as double quotes.
Q5. A string with zero character is called Empty string.
Q6. Python does not support a character type.

In [1]:
# Q7
str = "This is Amit\'s Blog"
# Q8 | str1 = "Welcome to my blog" , print(str1) -> Welcome to my blog
# str2 = "Welcome to my \n Blog" , print(str2) -> Welcome to my (one line below) Blog
# Q9 | str1 = "Welcome \tto my Blog" , print(str1) -> Welcome    to my Blog
# str2 = "Welcome to\n my \tBlog" , print(str2) -> Welcome to (1line below) my    Blog
#  Q10 | Welcome to my
#        blog.
#        This is for 
#        Class X

Test 2

In [2]:
# a
str ="Hello"
print(str[:3])

Hel

In [5]:
# b
str='My Blog'
a=''
for i in range(len(str)):
    a+=str[i]
    print(a)

M
My
My
My B
My Bl
My Blo
My Blog

In [6]:
# c
str='MyBlog'
a=''
for i in range(len(str)):
    print(i*str[i])

y
BB
lll
oooo
ggggg

In [7]:
# d
s='My'
s1='Blog'
s2=s[:1]+s1[len(s1)-1:]
print(s2)

Mg

In [8]:
# e
print("My"+'Blog'*2)

MyBlogBlog

In [9]:
# f
print("My"*3 + "Blog" +'7')

MyMyMyBlog7

In [10]:
# g
for i in range(2,7,2):
    print(i*'2')

22
2222
222222

In [11]:
# h
for i in range(3,12,2):
    print("a".upper())

A
A
A
A
A

In [12]:
# i
for i in range(3,12,13):
    print("a".upper)

<built-in method upper of str object at 0x00007FFF2EF1DE40>

In [13]:
# j
s='Welcome To My Site https://csiplearninghun.com'
print(s.find('come'))
print(s.find('o'))
print(s.find('o',10,20))
print(s.find('o',5,10))

3
4
-1
9

Test 3

In [14]:
# Q1
str1=''

Q2
Traversing a string means accessing all the elements of the string one by one by using index value.
Q3
The index value of first element of a string is 0
Q4
The index value of last element of a string is -1
Q5
If the length of the string is 10 then what would be the positive index value of last element is 9
Q6
If the length of string is 9, what would be the index value of middle element is 4
Q7
Index value of a string cannot be in float
Q8
print(str1[13]) generates index error when length of string 'str1' is 10

In [15]:
# Q9
str1 ="Welcome to my Blog"
print(str1[-1])
print(str1[9])

g
o

In [16]:
# Q10
str1 = "Hello World"

Hometask2: 
2.1. write a code that asks the fullname of the user and returns their name in reverse order
2.2. Then it should return only the first name from the given input, on condition that the user enters their lastname first and after space their firstname

In [17]:
#2.1
full_name = input("Please enter your full name: ")

name_parts = full_name.split()

reversed_name = ' '.join(name_parts[::-1])
print(reversed_name)

#2.2
first_name = name_parts[-1]
print(first_name)

Zulayho Hakimova
Zulayho